* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(224, 224, 224);
  color: rgb(36, 36, 36);
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 20px;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

h1 {}

.intro {
  text-align: center;
}

h3 {
  margin-bottom: 20px;
}

h4 {
  margin-bottom: 10px;
}

.imagem {
  width: 400px;
  border-radius: 10px;
  margin: 10px 0px;
}

p {
  margin-bottom: 20px;
}

ul {
  margin-bottom: 10px;
}

@media (max-width: 1024px) {
  .container {
    width: 45vh;
  }

  .imagem {
    max-width: 45vh;
  }
}
